# Security posture via Cisco PSIRT OpenVuln API

*Scanned {{ host_list | length }} hosts at {{ now().strftime("%Y-%m-%d %H:%M:%S") }}*

**Hosts unreachable:** {{ groups['all'] | difference(host_list | map(attribute='host') | list) | join(' ')}}  

{% for os_loop in adv_list | map(attribute='os') | list | unique -%}
## {{ os_loop }}  
  
Tags: {% for item in host_list | selectattr('os', 'equalto', os_loop) | map(attribute='tag') | list | unique %}`{{ item | default ('') }}` {% endfor %}  
{{ host_list | selectattr('os', 'equalto', os_loop) | map(attribute='host') | list | length }} device(s) affected, visit openvuln.cvs for details.

| Advisory-ID | Impact | CVSS | CVE | Fixed with | Known advisory / countermeasure |  
| ----------- | ------ | ---- | --- | ---------- | ------------------------------- |  
{% for adv_loop in adv_list | selectattr('os', 'equalto', os_loop) | sort(attribute='cvss', reverse = True) %}
| [{{ adv_loop.id }}]({{ adv_loop.url }})| {{ adv_loop.sir }} | {{ adv_loop.cvss }} | {{ adv_loop.cve }} | {{ adv_loop.fixed }} | {{ known_vuln[adv_loop.id] | default('') }} |
{% endfor%}

{% endfor%}

